<p>
  <h2>Title:</h2>
  <%= @category.title %>
</p>
<h2>Posts</h2>
<% for post in @category.posts %>
    <ul>
      <li><%= post.content %></li>
  </ul>
<% end %>
<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to 'Add Post', category_posts_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>
</div>
